<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>144157197167-nd620f5qan1tmmbs6689st0d8mjc9m8h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.144157197167-nd620f5qan1tmmbs6689st0d8mjc9m8h</string>
	<key>API_KEY</key>
	<string>AIzaSyCeZ6c4-JmM6-uHHR0Ufr4KhTz9YRQIfgs</string>
	<key>GCM_SENDER_ID</key>
	<string>144157197167</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterHotelBookingUi</string>
	<key>PROJECT_ID</key>
	<string>db-hotel-booking</string>
	<key>STORAGE_BUCKET</key>
	<string>db-hotel-booking.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:144157197167:ios:74d16c924d72d3b45bde9a</string>
</dict>
</plist>